.ad1-bg1 {
    background-image: url("https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-43-02-7910.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ad1-bg2 {
    background-image: url("https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-43-27-5225.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ad2-bg {
    background-image: url("https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-43-51-3694.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ad3-bg {
    background-image: url("https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-44-06-8672.png");
    background-size: cover;
    background-repeat: no-repeat;
}