.product-row-card-style-one {
    border: 1px solid transparent;
}

.anim {
    position: absolute;
    background-color: #ffbb38;
    transform-origin: center;
    transition: transform .5s ease;
}

.bottom {
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.right {
    right: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.top {
    top: 0;
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left {
    left: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.product-row-card-style-one:hover~span.bottom {
    transform: scaleX(1);
    cursor: pointer;
}

.product-row-card-style-one:hover~span.right {
    transform: scaleY(1);
    cursor: pointer;
}

.product-row-card-style-one:hover~span.top {
    transform: scaleX(1);
    cursor: pointer;
}

.product-row-card-style-one:hover~span.left {
    transform: scaleY(1);
    cursor: pointer;
}