.form-control-sm {
  /* border-color: rgb(37 99 235); */
  /* height: calc(1.5em + 0.5rem + 2px);  */
  height: 34px;
  width: 181px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
