.file {
  width: 10%;
  padding: 18px;
  height: 10px;
  margin-left: 162px;
  margin-top: -54px;
  cursor: pointer;
  background-image: url("../../../../public/images/profile-icon.png");
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.file::file-selector-button {
  visibility: hidden;
}
