.scrollbar::-webkit-scrollbar {
  display: none;
  /* width: 3px;
  transition: display 0.5s ease; */
}

/* .scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 3px;
}
 
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
} */